# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Virtual environments
# =========================
venv/
.venv/

# =========================
# Environment / secrets
# =========================
.env*

# =========================
# Database (CRITICAL)
# =========================
*.db

# =========================
# App data
# =========================
result_pdfs/
results/
qr_*.png

# =========================
# Logs
# =========================
*.log

# =========================
# IDE
# =========================
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Optional configs
# =========================
admin_config.json

backend/logfile.txt



